/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run WEHI-SODA-Hub/spatialvpt -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    sample                  = "small_set"
    algorithm_json          = "data/example_analysis_algorithm/cellpose2_cyto2.json"
    images_dir              = "data/202305010900_U2OS_small_set_VMSC00000/region_0/images"
    images_regex            = "mosaic_(?P<stain>[\\w|-]+)_z(?P<z>[0-9]+).tif"
    um_to_mosaic_file       = "data/202305010900_U2OS_small_set_VMSC00000/region_0/images/micron_to_mosaic_pixel_transform.csv"
    detected_transcripts    = "data/202305010900_U2OS_small_set_VMSC00000/region_0/detected_transcripts.csv"
    input_vzg               = "data/202305010900_U2OS_small_set_VMSC00000/region_0/202305010900_U2OS_small_set_VMSC00000_region_0.vzg"
    outdir                  = "results"
    tile_size               = 2400
    tile_overlap            = 200
    update_vzg              = true
    report_only             = false
    combine_channels        = false
}
